<h1>Sign In</h1>

<form action="<%= session_url %>" method="post">
  <input
     name="authenticity_token"
     type="hidden"
     value="<%= form_authenticity_token %>">
  <label for="user_name">Username</label>
  <input
    type="text"
    id="user_name"
    name="user[user_name]"
    value="<%= @user.user_name %>">
  <br>

  <label for="password">Password</label>
  <input type="password" id="password" name="user[password]">
  <br>

  <input type="submit" value="Submit to our will.">
</form>

<a href="<%= new_user_url %>">Sign up</a>
<a href="<%= cats_url %>">Return to main page</a>