<h1><%= @cat.name %></h1>

<table>
  <tr>
    <th>Name</th>
    <th>Color</th>
    <th>Birthdate</th>
    <th>Sex</th>
    <th>Description</th>
  </tr>
  <tr>
    <td><%= @cat.name  %></td>
    <td><%= @cat.color  %></td>
    <td><%= @cat.birth_date ? @cat.birth_date : "Unknown"  %></td>
    <td>None of your business.</td>
    <td><%= @cat.description %></td>
  </tr>
</table>
<br>

<% if @cat.owner == current_user %>
  <table>
    <tr>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Status</th>
    </tr>
    <% @cat.requests.order(:start_date).each do |request| %>
    <tr>
      <td><%= request.start_date %></td>
      <td><%= request.end_date %></td>
      <td><%= request.status %>
        <% if request.status == "PENDING" %>
        <%= render partial: 'button',
            locals: {request_type: :approve, request: request} %>
        <% end %>
        <% unless request.status == "DENIED" %>
        <%= render partial: 'button',
            locals: {request_type: :deny, request: request} %>
        <% end %>
    </tr>
    <% end %>
  </table>
<% end %>
<br>

<a href="<%= cats_url %>">Return to index</a>
<a href="<%= edit_cat_url(@cat) %>">Edit <%= @cat.name %></a>