<!DOCTYPE html>
<html>
<head>
  <title>NinyniCats</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_user %>
  <h2>Welcome awesome <span
    style="text-shadow: 5px 5px 5px;"><%= current_user.user_name %>
    </span>
    <br>
    <form
      method="post"
      action="<%= destroy_session_url %>">
      <input
         name="authenticity_token"
         type="hidden"
         value="<%= form_authenticity_token %>">
      <input
        name="_method"
        value="delete"
        type="hidden">
      <input value="Sign Out" type="submit">
    </form>
  </h2>

  <%= yield %>

  <% else %>

    <%= flash[:message] %>
    <%= flash[:errors].try(:each) { |error| error } %>

    <%= yield %>
    <table>
      <tr>
        <td>
          <form
            method="post"
            action="<%= new_user_url %>">
            <input
               name="authenticity_token"
               type="hidden"
               value="<%= form_authenticity_token %>">
             <input
               name="_method"
               value="get"
               type="hidden">
              <input value="Sign up" type="submit">
          </form>
        </td>
        <td>or</td>
        <td>
          <form
            method="post"
            action="<%= new_session_url %>">
            <input
              name="_method"
              value="get"
              type="hidden">
            <input
               name="authenticity_token"
               type="hidden"
               value="<%= form_authenticity_token %>">
            <input value="log in" type="submit">
          </form>
        </td>
      </tr>
    </table>
  <% end %>
</body>
</html>
